__pycache__/
*.pyc
.DS_Store
__pycache__/utils.cpython-312.pyc
.flake8
.pre-commit-config.yaml
app.yaml
deploy.sh
.vscode/

/data/*
!/data/GOA_Ziffern.csv
!/data/template_rechnung.html
!/data/arial.ttf
.env

# Ignore all pkl files
*.pkl