__pycache__/
*.pyc
.DS_Store
__pycache__/utils.cpython-312.pyc
.flake8
.pre-commit-config.yaml
app.yaml
deploy.sh
.vscode/

/data/*
!/data/GOA_Ziffern.csv
!/data/template_rechnung.html
!/data/arial.ttf
!/data/nginx.conf
.env

# Ignore all pkl files
*.pkl

# Ignore the /temp folder in the repo and all its contents
/temp/*

# Ignore the /ssl folder in the repo and all its contents
/ssl/*
/ssl

# Ignore all files related to generating an executable
/dist/*
/dist
/build/*
/build
*.spec

# Ignore all files in the /models folder
/models/*
/models